# Consumo de √Ålcool no Mundo

‚¨áÔ∏è Este √© um conjunto de dados tratado pela FiveThirtyEight, que se encontra dispon√≠vel no seguinte URL:<br>
https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption

‚¨áÔ∏è No contexto do artigo intitulado "Dear Mona Followup: Where Do People Drink The Most Beer, Wine And Spirits?":<br>
https://fivethirtyeight.com/features/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/

üìà **A escolha deste conjunto de dados deveu-se a v√°rios fatores**:
- Apresentar dados "limpos" e relevantes, que transmitem e esclarecem o tema;
- Possuir facilidade de an√°lise, com uma estrutura simples sem excessivas vari√°veis;
- Investigar um tema interessante e singular, podendo ser feitas interpreta√ß√µes importantes sobre as diferen√ßas culturais referentes ao consumo de bebidas alco√≥licas.

In [1]:
# para ler o ficheiro .csv, precisamos de importar a biblioteca Pandas
import pandas as pd

# leitura do ficheiro .csv, a partir do m√©todo "read_csv()"
df_data = pd.read_csv('drinks.csv')

# 10 primeiras linhas do conjunto de dados, atrav√©s do m√©todo "head()"
df_data.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7

In [10]:
# tipo de dados de cada coluna, atrav√©s da propriedade "dtypes"
df_data.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object